{% extends 'header.html'%}
{% block content %}


<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <center><h3>Admin Login</h3></center>
        <div class="container py-md-3">
            
            <div class="row cont-main-top">
                <div class="contacts12-main col-lg-8 mt-lg-0 mt-5">
                                
                    <form  class="main-input">
                        <div class="top-inputs d-grid">
                           
                            <label>Enter your Username :</label>
                            <input type="text" placeholder="Enter Your Username" name="username" id="username" required="">
                            <label>Enter your Password:</label>
                            <input type="text" placeholder="Enter Your Password" name="password" id="password" required="">
                          
                         </div>
                        <!-- <textarea placeholder="Message" name="w3lMessage" id="w3lMessage" required=""></textarea> -->
                        <div class="text-right">
                            <button type="submit" id="btnlogin" class="btn btn-theme2">Login</button>
                        </div>
                    </form>
                </div>
</section>

<script>
   $('#btnlogin').click(function () {
     var name = $('#username').val()
     var password = $('#password').val()

     var customString = "admin";

     if (name == customString && password == customString) {
       var name = name;
       var data = { name: name };
       console.log(data);
       $.ajax({
         type: "POST",
         url: "SessionHandle1",
         data: data,
         success: function (data) {
           console.log(data);
           window.location.replace("/admindash");
           $("#btnlogin").prop("disabled", false);
         },
         error: function (e) {
           console.log("ERROR : ", e);
           $("#btnlogin").prop("disabled", false);
         }
       });
     }
     else {
       alert("invalid username or password");
       $("#btnlogin").prop("disabled", false);

     }
   })
 </script> 

{% endblock %}