{% extends 'header.html'%}
{% block content %}

<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <center>
            <h3>Services</h3>
        </center>
       
    </div>
    <div id="customers4-block" class="py-5">
        <div class="container py-md-3">
      
         <div class="section-title align-center row">
          <div class="item-top col-md-6 pr-md-5">
            <div class="heading">
              <h3 class="head text-white">Introduction</h3>
              <p class="my-3 head text-white">Stress is a normal phenomenon in today's world, and it causes people to respond to a
                variety of factors, resulting in physiological and behavioural changes. If we keep stress in our
                minds for too long, it will have an effect on our bodies. Many health conditions associated with
                stress can be avoided if stress is detected sooner. When a person is stressed, a pattern can be
                detected using various bio-signals such as thermal, electrical, impedance, acoustic, optical, and
                so on, and stress levels can be identified using these bio-signals. This paper uses a dataset that
                was obtained using an Internet of Things (IOT) sensor, which led to the collection of information
                about a real-life situation involving a person's mental health. To obtain a pattern for stress
                detection, data from sensors such as the Galvanic Skin Response Sensor (GSR) and the
                Electrocardiogram (ECG) were collected. The dataset will then be categorised using Multilayer
                Perceptron (MLP), Decision Tree (DT), K-Nearest Neighbour (KNN), Support Vector Machine
                (SVM), and Deep Learning algorithms (DL). Accuracy, precision, recall, and F1-Score are used
                to assess the data's performance. Finally, Decision Tree (DT) had the best performance where
                DT have accuracy 95%, precision 96%, recall 96% and F1-score 96% among all machine
                learning classifiers.</p>
               
              </div>
         </div>
              <div class="item-top col-md-6 mt-md-0 mt-4">
                <div class="item text-center">
                 <div class="imgTitle">
                   <img src="../static/images/002.jpg" class="img-responsive" alt="" />
                  </div>
                  <h6 class="mt-3">Proposed Framework</h6>
            
                  <p> In this paper, it can conclude that using suitable classifier will get better result in accuracy, precision,
                    recall and F1-Score. From experiments results, it shows some significant value where DT achieved the
                    best resulting on accuracy 95%, precision 96%, recall 96% and F1-score 96%. The results prove that the
                    using DT has a competitive performance compared to the others classifiers for detecting stress and nonstress and classifying stress levels. Further work can be done by using more classifier and applied 10-
                    fold cross validation.</p>
                  
              </div>
             </div>
        </div>
      </div>
</section>



{% endblock %}